
<% if defined? url %>
<div class="col">
<%=link_to url,class:"card home-col-card",method:method  do%>
    <div class="home-col-image">
      <%= image_tag( image,size: "70x70")%>
    </div>
    <div class="home-col-text">
      <%= text%>
    </div>
  <%end  %>
</div>

<% elsif defined? id %>
<div class="col">
  <a type="button" class="card home-col-card" data-bs-toggle="modal" data-bs-target="<%=id%>">
    <div class="home-col-image">
      <%= image_tag( image,size: "70x70")%>
    </div>
    <div class="home-col-text">
      <%= text%>
    </div>
  </a>
</div>
  
<% end %>