<!--":title" は applicant.html.erbにて使用-->
<% provide(:title, "【サービス名】") %>

<div id="home", class="card home-card">
  <%= link_to image_tag( "gear.png",size: "20x20"), edit_user_registration_url,style:"text-align:right;" %>
  <h2><%= current_user.name%></h2>
  <%= if current_user.image.attached?
           image_tag current_user.image, size: "120x120", class:"center-block rounded-circle custom-image"
      else image_tag "bottle_ship.png",size:"120x120", class:"center-block rounded-circle custom-image"
      end
  %>
    <%= link_to "手紙を送る",new_letter_url, class: "btn custom-btn btn-primary center-block " %>
    <%= link_to "ポストを見る",inbox_user_url(id:current_user.id), class: "btn custom-btn  btn-primary center-block" %>

</div>

<div id="tutorial" , class="card home-card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "wakaba.png",size:"24x36", class:"d-inline-block align-top"%>
      説明
    </h3>
      <div class="card-content pink">
        <%= render 'shared/explanation'%>
      </div>
  </div>
</div>

<div id="post" , class="card home-card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "post.png",size:"86x64", class:"d-inline-block align-top"%>
      届いた手紙を見る
    </h3>
     <div class="card-content blue center">
        流れ着いた手紙
       <div class="letter-count">４通</div>
        <%= link_to "ポストを見る",inbox_user_url(id:current_user.id), class: "btn custom-btn btn-primary  button" %>
     </div>
  </div>
</div>

<div id="send" , class="card home-card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "letter.png",size:"64x48", class:"d-inline-block align-top"%>
      手紙を書く
    </h3>
    <%= render 'shared/letter_form' %>
  </div>
</div>

<!--共通-->
<div id="notify" , class="card home-card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "bell.png",size:"64x48", class:"d-inline-block align-top"%>
      おしらせ
    </h3>
    <%= render 'shared/information_form', information: @information %>
  </div>
</div>