<!--":title" は applicant.html.erbにて使用-->
<% provide(:title, "【サービス名】") %>



<!--ログインしている場合-->
<% if user_signed_in? %>

<custom-card id="home", class="card">
  <h2>ようこそ。<%= current_user.name%>さん</h2>

  <%= if current_user.image.attached?
           image_tag current_user.image, size: "100x100", class:"center-block rounded-circle",id:"image"
      else image_tag "bottle_ship.png",size:"100x100", class:"center-block rounded-circle",id:"image"
      end
  %>
  <div id="home_button-row" class="row ">
    <%= link_to "手紙を送る",new_letter_url, class: "btn btn-lg btn-primary col home-button-column" %>
    <%= link_to "ポストを見る",inbox_user_url(id:current_user.id), class: "btn btn-lg btn-primary col  home-button-column" %>
  </div>
</custom-card>

<custom-card id="tutorial" , class="card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "wakaba.png",size:"24x36", class:"d-inline-block align-top"%>
      説明
    </h3>
      <div class="card-content pink">
        <%= render 'shared/explanation'%>
      </div>
  </div>
</custom-card>

<custom-card id="post" , class="card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "post.png",size:"86x64", class:"d-inline-block align-top"%>
      届いた手紙を見る
    </h3>
     <div class="card-content blue center">
        流れ着いた手紙
       <div class="letter-count">４通</div>
        <%= link_to "ポストを見る",inbox_user_url(id:current_user.id), class: "btn btn-lg btn-primary  button" %>
     </div>
  </div>
</custom-card>

<custom-card id="send" , class="card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "letter.png",size:"64x48", class:"d-inline-block align-top"%>
      手紙を書く
    </h3>
    <%= render 'shared/letter_form' %>
  </div>
</custom-card>

<!--ログインしていない場合-->
<% else %>
<div class="container-fluid">
  <div class="jumbotron">
    <h2>拝啓 だれか</h2>
    <div id="home_button-row" class="row">
      <%= link_to "Twitterで始める",?? ,class: "btn btn-lg btn-primary col home-button-column" %>
      <%= link_to "メールアドレスで始める",new_user_registration_url, class: "btn btn-lg btn-primary col home-button-column" %>
    </div>
  </div>
</div>
<% end %>

<!--共通-->
<custom-card id="notify" , class="card">
  <div class="card-body">
    <h3 class="card-title">
      <%= image_tag "bell.png",size:"64x48", class:"d-inline-block align-top"%>
      おしらせ
    </h3>
    <%= render 'shared/information_form', information: @information %>
  </div>
</custom-card>


<!-- Modal -->
<div class="modal" id="preview-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">プレビュー</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="letter-content" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


