<!--":title" は applicant.html.erbにて使用-->
<% provide(:title, "【サービス名】") %>

<div id="home" , class="card home-card container">

  <div class="home-upper-side row">
    <div class="col">
      <%= link_to image_tag( "gear.png",size: "20x20"), edit_user_registration_url,style:"text-align:right;" %>
      <%= if current_user.image.attached?
            image_tag current_user.image, size: "120x120", class:"center-block rounded-circle custom-image"
        else image_tag "bottle_ship.png",size:"120x120", class:"center-block rounded-circle custom-image"
      end %>
      <div class="name"><%= current_user.name%></div>
    </div>
    <div class="col card " style="height:25vh;">
      アクティブ率とログアウトボタン
    </div>
  </div>


  <div class="home-under-side">
    <div class="contaner">
      <div class="row">
        <%= render 'shared/home/home_col', image:"letter", url:home_url, text:"手紙をながす"%>
        <%= render 'shared/home/home_col', image:"post",   url:home_url, text:"届いた手紙"%>
        <%= render 'shared/home/home_col', image:"gear",   url:home_url, text:"プロフィール"%>
      </div>
      <div class="row">
        <%= render 'shared/home/home_col', image:"gear",   url:home_url, text:"設定"%>
        <%= render 'shared/home/home_col', image:"wakaba", url:home_url, text:"注意とマナー"%>
        <%= render 'shared/home/home_col', image:"bell",   url:home_url, text:"お知らせ"%>
      </div>
    </div>
  </div>
</div
