<div class="card login-form-card">
    <%= form_with model: User.new ,class: "custom-form", url: new_user_step1_path(resource_name) do |f| %>
    <h1 class="center mb-5">新規登録(1/2)</h1>
    <%= render "devise/shared/error_messages", resource: @user %>
    <div class="form-field">
      <%= f.label "メールアドレス" %><br />
      <%= f.text_field :email, autofocus: true, placeholder: "sample@example.com" ,autocomplete: "email", class: "form-control",value:"sample@example.com" %>
    </div>

    <div class="form-field">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "6文字以上", class: "form-control", value: "makutaro" %>
    </div>

    <div class="form-field">
      <%= f.label "パスワード(確認)" %><br />
      <%= f.password_field :password_confirmation, class: "form-control",value: "makutaro" %>
    </div>

    <div class="form-action text-center">
      <div><%= f.submit "次へ",class: "btn custom btn-primary mb-3" %></div>
      <div><%= link_to "もどる", root_url ,class: "btn custom btn-secondary" %></div>
    </div>
    <% end %>
</div>
<!-- <%= render "devise/shared/links" %> -->