<%#
  手紙を入力するform。
  新規作成、返信の2ケースにて呼び出される
    type: new    => letters/:id 
    type: reply  => letters/:id/reply 
%>

<%# 変数定義(new or reply) %>
<% case type when "new"%>
<% url = "/letters"%>
<% title = "タイトル(必須)"%>
<% title_default = "この手紙を呼んでいるあなたへ"%>
<% match_room_id = "" %>

<% when "reply"%>
<% url = "/letters/1/reply"%>
<% title = "宛先"%>
<% title_default = "#{@inbox_record.to_user.name}さんへ"%>
<% match_room_id = @letters.first.match_room_id %>
<% end %>

<%# 入力用form %>
<%= form_with model: Letter.new, id:"cleate-letter-form", class:"custom-form needs-validation" do |f| %>
  <%= f.hidden_field :match_room_id, :value => match_room_id, name:"form-room-id" %>
  
  <div class="form-column m-3">
    <%= f.text_field :title, placeholder: title, value: title_default, class: "form-control center-block", name:"form-title",required: true %>
  </div>

  <div class="form-column m-3">
    <%= f.text_area :content, placeholder: "本文", class:"form-control text  center-block", name:"form-content",required: true %>
  </div>
  
  <% if type=="reply"  %>
    <h3 class="text-danger center" >
      ※一度返信すると、返信がくるまで再送ができません。<br>
      内容をよく考えて送信しましょう。          
    </h3>
  <% elsif  type=="new"%>
    <h3 class="text-danger center" >
      本日の送信可能数 <span id="sendable_count"><%= current_user.sendable_count %></span>/10
    </h3>
    <h4 class="text-danger center" >
      ※ 流した手紙は、他ユーザの元にランダムで流れ着きます。<br>
         暴言、わいせつな文言など、不適切な内容はお控えください。
    </h4>
  <% end  %>

  <div class="form-action text-center">
    <%# jsにて、form取り込み => #preview-modal起動  %>
    <button name="submit" type="submit" class="btn custom btn-primary m-1" onclick="ShowPreviewModal(this,event);">確認</button>
    <button type="button" class="btn custom btn-secondary m-1" data-bs-dismiss="modal">閉じる</button>
  </div>
<% end %>