<%#
手紙を入力するform
  type: new    => letters/:id 
  type: reply  => letters/:id/reply 
 %>

<%#変数定義(new or reply) %>
<%case type when "new"%>
   <% url = "/letters"%>

<%when "reply"%>
   <% url = "/letters/1/reply"%>
<%end%>

<%#入力用form ※ajax %>
<%= form_with(model: @letter, url:"/letters/1",  class:"custom-form", method:"GET", local: false) do |f| %>

  <% if type == "reply" %>
    <%= f.hidden_field :match_room_id, :value => @letters.first.match_room_id %>
  <% end %>

  <div class="form-column">
    <%= f.text_field :title, placeholder: "タイトル", class: "form-control center-block" %>
  </div>

  <div class="form-column">
    <%= f.text_area :content, placeholder: "本文", class:"form-control text  center-block" %>
  </div>

  <div class="form-column">
    <%= f.label "レイアウト" %>
    <%= f.select :layout_id, Letter.layout_ids.keys,{}, class:"form-select center-block" %>
  </div>

  <div class="form-action text-center">
  <%# jsにて、form取り込み => #preview-modal起動  %>
    <%= f.submit "確認",class: "btn btn-primary custom-btn"%> 
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
  </div>

<%# 確認用modal(jsより呼び出される) %>
<div class="modal" id="preview-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div id="letter-content" class="modal-body"><%#ajaxにより、lettter_contentが動的描画 %></div>
      <div class="modal-footer">
        <button type="button" class="btn custom-btn btn-secondary" data-bs-dismiss="modal">とじる</button>
        <input type="submit" value="ながす" class="btn custom-btn btn-primary" formaction=<%= url %> formmethod="POST">
      </div>
    </div>
  </div>
</div>

<% end %>


