<div class="center jumbotron">
  <h2>手紙を作成</h2>
  <%= form_with(model: @letter, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, autofocus: true, placeholder: "タイトル", size: "48x5" %>
  </div>
  <br />
  <div class="text">
    <%= f.text_area :content, autofocus: true, placeholder: "本文",size: "50x5" %>
  </div>
  <div class ="select">
    レイアウト
    <%= f.select :layout_id, Letter.layout_ids.keys,class:"form-select  w-25 center-block" %>
  </div>

    <%= f.check_box(:self_flag, {}, :true, :false) %>
    自分宛に手紙を送る

  <%= f.submit "投稿", class: "btn btn-primary" %>
  
  <% end %>
</div>

