<div class="center card w-75"  style="margin: 0 auto;">
  <h2>手紙を返信</h2>
  <%= form_with(model: @letter, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, autofocus: true, placeholder: "タイトル", size: "48x5" %>
  </div>
  <br />
  <div class="text">
    <%= f.text_area :content, autofocus: true, placeholder: "本文",size: "50x5" %>
  </div>
  <div class ="select">
    レイアウト
    <%= f.select :layout_id, @layout_hash,{selected:1},class:"form-select  w-25 center-block" %>
  </div>

  <%= f.hidden_field :reply_flag, :value => true %>
  <%= f.hidden_field :to_user_id, :value => @from_letter.user.id %>
  <%= f.submit "返信", class: "btn btn-primary" %>
  <% end %>
</div>



<div class="accordion-body w-75 " style="margin: 0 auto;">
<%= render 'shared/letter_content', letter: @from_letter %>
</div>