<div class="card login-form-card">
    <%= form_with model: User.new, class:"custom-form", url: session_path(resource_name) do |f| %>
    <h1 class="center mb-5">ログイン</h1>
    <div class="form-column">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>,
    </div>

    <div class="form-column">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="form-column">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを記録する %>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
    <div class="form-action text-center">
     <div><%= f.submit "サインイン",class: "btn custom btn-primary mb-3" %></div>
     <div> <%= link_to "もどる", root_url ,class: "btn custom btn-secondary" %></div>
    </div>
    <% end %>
</div>