<%# 
    letter_formから呼び出される、letterのプレビュー用モーダル
    中身はjs(OnButtonClickより動的に出力)    
 %>

<div id="preview-modal" class="modal modal-base" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="letter letter-mine">
          <div id="preview-title"   class="letter-header" ><%# DOM %></div>
          <div id="preview-content" class="letter-content"><%# DOM %></div>
          <div class="letter-footer row">
            <div class="col date-col">yyyy/mm/dd hh:mm</div>
            <div class="col name-col"><%= current_user.name %></div>
          </div>
        </div>
      </div>
      <div class="m-footer">
        <button type="button" class="btn custom btn-secondary m-1" data-bs-dismiss="modal">とじる</button>
        <%= form_with(model: Letter.new, url:letters_url, local: false) do |f| %>
          <%= f.hidden_field :title,         id:"preview-field-title"  %>
          <%= f.hidden_field :content,       id:"preview-field-content" %>
          <%= f.hidden_field :match_room_id, id:"preview-field-match_room_id" %>
          <input type="submit" value="ながす" class="btn custom btn-primary m-1" data-bs-dismiss="modal">
        <% end %>
      </div>
    </div>
  </div>
</div>