<%# 変数定義  %>
<%  
    id    = "release-letter-modal"
    title =  "手紙を海に流しますか？"
    image = "irasutoya/ojigi_kuma"
    text  =  "※手紙は,別の誰かのもとに流れ着きます"
%>

<%# モーダル部分 %>
<div id="<%= id %>" class="modal modal-base hide" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="m-header">
        <h2><%= title %></h2>
      </div>
      <%= image_tag "#{image}", size: "143x200", class:"m-image center" %>
      <div class="m-body">
        <h3><%= text %></h3>
      </div>
      <div class="m-footer">
        <button type="button" class="btn custom btn-secondary m-1" data-bs-dismiss="modal" aria-label="Close">もどる</button>
        <%= form_with(url:release_inbox_records_url) do |f| %>
          <%= f.hidden_field :id,    :value => @inbox_record.id  %>
          <%= f.submit "ながす",class: "btn custom btn-primary m-1"%>
        <% end %>
      </div>
    </div>
  </div>
</div>