<%# inboxページのレコード%>

<button class="card inbox-col" onclick="location.href='<%= room_inbox_records_url(inbox_id:inbox_record.id,room_id:inbox_record.match_room_id) %>'">
  <div class="row">

    <div class="col image"> 
        <%= if inbox_record.to_user.image.attached?
            image_tag inbox_record.to_user.image, size: "60x60", class:"center-block rounded-circle"
        else image_tag "bottle_ship.png",size:"60x60", class:"center-block rounded-circle"
        end %> 
    </div>
    
    <div class="col">
      <div class="name"><%= inbox_record.to_user.name %></div>
    </div>

     <div class="col">
      <div class="content"><%= inbox_record.match_room.letters.last.title %></div>
    </div>   

    <div class="col time">
      <div class="name"><%= inbox_record.match_room.letters.last.created_at.strftime('%Y/%m/%d %k:%M') %></div>
    </div>
        
  </div>
</button>