<%# inboxページのレコード%>

<% # 変数定義 
  #mine_tag = if inbox_record.match_room.letters.last.user_id == current_user.id ? "返信待ち" : ""
  if inbox_record.match_room.letters.last.user_id == current_user.id
      mine_tag      = "返信済み"
      replyable_tag = ""
  else
      mine_tag      = ""
      replyable_tag = "返信可能"
  end
  new_tag  = inbox_record.match_room.letters.count == 1  ?  elapsed_time(inbox_record.updated_at): ""  
       
%>

<%# レコード部分  %>
<%= link_to room_inbox_records_url(inbox_id:inbox_record.id,room_id:inbox_record.match_room_id), class: "inbox-card" do%>

  <div class="inbox-record">
    <div class="inbox-image"> 
      <%= if inbox_record.to_user.image.attached?
             image_tag inbox_record.to_user.image, size: "80x80", class:"center-block rounded-circle"
        else image_tag "bottle_ship_white.png",size:"80x80", class:"center-block rounded-circle"
      end %> 
    </div>
    <div class="inbox-body">
      <div class="inbox-name"><%= inbox_record.to_user.name %></div>
      <div class="inbox-content"><%= inbox_record.match_room.letters.last.title %> <%= inbox_record.match_room.letters.last.content[0,10] %>・・・</div>
    </div>
    <div class="inbox-tag">
      <span class="new-tag"      ><%= new_tag  %>      </span>
      <span class="mine-tag"     ><%= mine_tag %>      </span>
      <span class="replyable_tag"><%= replyable_tag %> </span>
    </div>
    <div class="inbox-time"><%= inbox_record.match_room.letters.last.created_at.strftime('%Y/%m/%d %k:%M') %></div>
  </div>
  
<% end %>