<%# 
    //////////////////////////////////
　  //     ↓変数定義                // 
    /////////////////////////////////
%>
<% 
    if @letters.last.user_id == current_user.id #最後の手紙が自分
      no_reply_btn = ""
      reply_btn    = "hidden"
    else
      no_reply_btn = "hidden"
      reply_btn    = ""
    end

    if @letters.count == 1 #手紙の数が1
      destroy_btn  = "hidden"
      release_btn  = "" 
    else 
      destroy_btn  = ""
      release_btn  = "hidden"       
    end
%>

<%# 
    ///////////////////////////////
    //     ↓letter(時系列順)        // 
    /////////////////////////////// 
%>

  <% @letters.each do |letter| %>
    <div class="room-letter">
      <%= render letter %>
    </div>
  <% end %>

  <div id="add-modal" >
    <%# (※Ajax) render 'letters/letter', letter: @letter %>
  </div>

<%#
    ///////////////////////////////
    //       ↓ボタン              // 
    ///////////////////////////////
%>
<div class="room-button center">
    <button id="no-reply-btn" type="button" class="btn custom btn-secondary mb-3 <%= no_reply_btn %>" data-bs-toggle="modal" data-bs-target="#no-reply-modal">
      返信待ち
    </button>
    <button id="reply-btn" type="button" class="btn custom btn-primary mb-3 <%= reply_btn %>" data-bs-toggle="modal" data-bs-target="#reply-letter-modal">
      返信
    </button><br>
    <button id="release-btn" type="button" class="btn custom btn-primary mb-3 <%= release_btn %>" data-bs-toggle="modal" data-bs-target="#release-letter-modal">
      流す
    </button>
    <button id="destroy-btn" type="button" class="btn custom btn-danger mb-3  <%= destroy_btn %>" data-bs-toggle="modal" data-bs-target="#destroy-letter-modal">
      破棄
    </button>

<%# modal %>
<%= render "modals/no_reply_modal" %>
<%= render "modals/release_modal" %>
<%= render "modals/send_letter_modal", {type:"reply"}%>
<%= render "modals/destroy_modal" %>