<%# 特に指定をしない限り、全てのコントローラから呼び出されるviewはすべて、このlayoutをベースとする %>
<%# 対象のviewは"yield"で呼び出す %>
<%# このレイアウトを適応したくない場合 => コントローラに "render layout: false"  %> 

<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body class="<%= background_style %>">
   <%# header %>
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>
     
   <%# flash  success/info/warning/error %>
      <% flash.each do |type, msg| %>
        <% next if type == "flag"  %>
      <%#  scriptタグは廃止！ %>
        <script id="flash" class="toast-top-full-width" type="text/javascript">
          toastr['<%= toast_alert(type) %>']('<%= msg %>');
        </script>
      <% end %>
      <% flash.clear %>
      
   <%# main %>
      <% if user_signed_in? %>
       <div id="main" class="signed-in"><%= yield %></div>
      <% else %>
       <div id="main"><%= yield %></div>
      <% end %>

   <%# footer %>
    <% if user_signed_in? %>
      <div style="padding-bottom: 90px;"> <%# footer部padding敷き詰め%>
      <%= render 'layouts/footer' %>
      <%= render "modals/send_letter_modal", {type:"new"}%>
      <%= render "modals/preview_modal"%>
      <%= render "modals/hello_modal" if flash.to_h.value? "hello_modal_open" %>
    <% end %>
  </body>
</html>
 